* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: fixed;
}

body {
  color: #fff;
  font-family: "Abel";
  font-weight: 400;
  background: #000;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100%;

  header {
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    display: block;
    position: absolute;
    background: #030303;

    .text-logo {
      color: #ffffff;
      font-size: 100px;
      font-weight: 400;
      padding-left: 15px;
      line-height: 120px;

      span {
        color: #13aff0;
      }
    }
  }

  aside {
    top: 120px;
    left: 0;
    width: 210px;
    height: 425px;
    display: block;
    position: absolute;
    background: #060606;

    ul {
      margin: 0;
      padding: 0 10px;
      list-style: none;

      li {
        position: relative;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);

        &.disabled * {
          opacity: 0.3;
          pointer-events: none;
        }

        tag {
          top: 50%;
          right: 10px;
          position: absolute;
          transform: translateY(-50%);
        }

        a {
          cursor: pointer;
          color: #ffffff;
          font-size: 24px;
          display: block;
          padding: 10px 10px;
          text-decoration: none;
          transition: color 0.2s ease-out;

          b {
            cursor: pointer;
            font-weight: bold;
          }

          &.active {
            color: #13aff0;
          }
        }
      }
    }

    .status {
      bottom: 0;
      width: 100%;
      height: 114px;
      padding: 0 20px;
      position: absolute;
      background: #030303;

      h2 {
        font-size: 18px;
        margin: 8px 0 0;
      }

      p {
        color: #c1c1c1;
        font-size: 14px;
        margin: 0 0 0;
      }
    }
  }

  content {
    top: 120px;
    left: 210px;
    width: 590px;
    height: 424px;
    display: block;
    padding: 45px 35px;
    position: absolute;
    background: #020202;
    overflow-y: scroll;

    ng-view {
      width: 100%;
      height: auto;
      min-height: 100%;
    }

    h2 {
      margin: 0;
      color: #ffffff;
      font-size: 32px;
      margin-bottom: 20px;
    }

    p {
      color: #ffffff;
      font-size: 16px;
      padding: 0;
    }

    button {
      width: 100%;
      border: 0;
      color: #000;
      cursor: pointer;
      padding: 12px 0;
      font-size: 16px;
      display: block;
      background: #13aff0;
      outline: none;
      margin-bottom: 10px;

      &.disabled {
        opacity: 0.2;
        background: #c2c2c2;
        pointer-events: none;
        user-select: none;
      }
    }
  }
}

.img-preloader {
  opacity: 0;
  display: block;
  visibility: hidden;
  position: absolute;
}

.ticker {
  color: #13aff0;
  font-weight: bold;
}

.dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 10px;
  background: #ffffff;
  
  &.Online {
    background: #13aff0;
  }
  
  &.Offline {
    background: red;
  }
}

.main-color {
  color: #13aff0;
}

.title {
  margin: 0;
  font-size: 88px;
  display: block;
  text-align: center;
  backface-visibility: hidden;

  span {
    color: #13aff0;
  }
}

.logo-img {
  bottom: 100%;
  width: 100%;
  max-width: 320px;
  height: auto;
  margin: 0 auto;
  display: block;
  cursor: default;
  pointer-events: none;
  -webkit-user-select: none;
}

*,
*::after,
*::before {
  cursor: default;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}
