<ul>
  <li>
    <a href="#!/" ng-class="{active: $route.current.activeTab == 'balance'}">
      <b>INX</b> Balance
    </a>
  </li>
  <li>
    <a href="#!/send" ng-class="{active: $route.current.activeTab == 'send'}">
      Send <b>INX</b>
    </a>
  </li>
  <li>
    <a href="#!/transactions" ng-class="{active: $route.current.activeTab == 'transactions'}">
      Transactions
    </a>
    <tag ng-bind="countUnseenTransactions()">0</tag>
  </li>
  <li class="disabled">
    <a href="#!/block-explorer" ng-class="{active: $route.current.activeTab == 'block-explorer'}">
      Block Explorer
    </a>
  </li>
  <li class="disabled">
    <a href="#!/my-contacts" ng-class="{active: $route.current.activeTab == 'my-contacts'}">
      My Contacts
    </a>
  </li>
  <li class="disabled">
    <a href="#!/pool-mining" ng-class="{active: $route.current.activeTab == 'pool-mining'}">
      Pool Mining
    </a>
  </li>
</ul>

<div class="status">
  <h2>Blockchain Status</h2>
  <div class="row">
    <p class="float-left">
      Peers : <br>
      Height : <br>
      Hashrate : <br>
      Difficulty :
    </p>
    <p class="float-right text-right">
      <span ng-bind="peerCount">0</span> / <span ng-bind="peerCountTotal">0</span> <br>
      <span ng-bind="blockchain.height">0</span> / <span ng-bind="blockchain.network_height">0</span> <br>
      <span ng-bind="blockchain.globalHashRate">0</span> H/s <br>
      <span ng-bind="blockchain.difficulty"></span>
    </p>
  </div>
</div>